@import './index.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
* {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --Background: #fafafa;
    --BackgroundElmns: #fff;
    --textColor: #111517;
    --InputColor: #858585;
    --Boxshadow: #E3E3E3;
}

[data-theme="dark"] {
    --Background: #202c37;
    --BackgroundElmns: #2b3945;
    --textColor: #fff;
    --InputColor: #CDD3D6;
}

.app {
    min-height: 100vh;
    background-color: var(--Background);
}

.container-fluid {
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}

.main_shadow {
    box-shadow: 0px 6px 9px 0px var( --Boxshadow);
}