.card {
    padding-bottom: 2rem;
    cursor: pointer;
    border-radius: 9px;
    overflow: hidden;
    background-color: var(--BackgroundElmns)!important;
    color: var( --textColor);
    .card-img-top {
        height: 13rem;
        border-radius: unset;
    }
    &-body {
        padding-left: 18px;
    }
    &-title {
        font-weight: 700;
        padding: 1rem 0;
    }
    &-text {
        margin-bottom: 5px;
    }
}